/*
    Main css app file.
*/
/* 
    Created on : 05 avr. 2016, 08:32:00
    Author     : Christophe Gourdin - INRIA
*/
#rootBorderPane {
    /* -fx-background-color: #ffffff; */
}
#horizontaldivider *.line {
    -fx-background-color: transparent;
    /*    -fx-background-radius: 4;*/
    -fx-border-style: solid; /* dashed */
    -fx-border-width: 2px;        
}
#horizontaldividerbottom *.line {
    -fx-background-color: transparent;
    /*    -fx-background-radius: 4;*/
    -fx-border-style: dashed; /* dashed */
    -fx-border-width: 2px;        
}
#horizontalLeftDivider *.line {
    -fx-background-color: transparent;
    /*    -fx-background-radius: 4;*/
    -fx-border-style: dashed; /* dashed */
    -fx-border-width: 2px;
}
#verticalleftdivider *.line {
    -fx-background-color: transparent;
    /*    -fx-background-radius: 4;*/
    -fx-border-style: solid;
    -fx-border-width: 3px;        
}